<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Angular-Symfony Integration</title>
</head>
<body>
  <app-root></app-root>
  <script src="{{ asset('angular/runtime.js') }}"></script>
  <script src="{{ asset('angular/polyfills.js') }}"></script>
  <script src="{{ asset('angular/main.js') }}"></script>
</body>
</html>
